<ion-header>
  <ion-toolbar color="primary">
    <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png">
    <br>
    <ion-title> BeKeen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px; text-decoration: underline;">{{ 'PAGES.Add-Alumno.TITULO' | translate }}</p>
  </div>

  <ion-item>
    <ion-label class="texto" position="stacked">Dni:</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="dni"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Alumno.NOMBRE' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Alumno.APELLIDOS' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="apellidos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Alumno.EMAIL' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="correo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Alumno.LOCALIDAD' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="localidad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Alumno.TUTOR' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="tutor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Alumno.CURSO' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="curso"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'PAGES.Add-Alumno.EMPRESA' | translate }}</ion-label>
    <ion-select [(ngModel)]="empresa">
      <ion-select-option value="Ninguna">{{ 'PAGES.Add-Alumno.NINGUNA' | translate }}</ion-select-option>
      <ion-select-option *ngFor="let item of empresas" value="{{item.key}}">{{item.Nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-footer class="texto" style="margin-top: 10px;" no-border>
  <ion-toolbar>
    <ion-button (click)="addAlumno()" expand="full">{{ 'PAGES.Add-Alumno.BTN_ADD' | translate }}<ion-icon slot="end" name="person-add"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>