<ion-header>
  <ion-toolbar color="primary">
    <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png">
    <br>
    <ion-title> BeKeen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px; text-decoration: underline;">{{ 'PAGES.Info-Alumno.TITULO' | translate }}</p>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Dni</ion-card-subtitle>
      <ion-card-title>{{item.Dni}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'PAGES.Info-Alumno.NOMBRE' | translate }}</ion-card-subtitle>
      <ion-card-title>{{item.Nombre}} {{item.Apellidos}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'PAGES.Info-Alumno.EMAIL' | translate }}</ion-card-subtitle>
      <ion-card-title>{{item.Email}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'PAGES.Info-Alumno.LOCALIDAD' | translate }}</ion-card-subtitle>
      <ion-card-title>{{item.Localidad}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'PAGES.Info-Alumno.TUTOR_CURSO' | translate }}</ion-card-subtitle>
      <ion-card-title>{{item.Tutor}} - {{item.Curso}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header *ngIf = "item.Empresa != 'Ninguna'" routerLink="/info-empresa/{{item.Empresa}}">
      <ion-card-subtitle>{{ 'PAGES.Info-Alumno.EMPRESA' | translate }}</ion-card-subtitle>
      <ion-card-title>{{empresa.Nombre}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header *ngIf = "item.Empresa == 'Ninguna'">
      <ion-card-subtitle>{{ 'PAGES.Info-Alumno.EMPRESA' | translate }}</ion-card-subtitle>
      <ion-card-title>{{ 'PAGES.Info-Alumno.SIN_EMPRESA' | translate }}</ion-card-title>
    </ion-card-header>
  </ion-card>

</ion-content>

<ion-footer no-border *ngIf="email != 'invitadobekeen@gmail.com'">
  <ion-toolbar>
    <ion-button routerLink="/edit-alumno/{{key}}" expand="full">{{ 'PAGES.Info-Alumno.BTN_EDITAR' | translate }}<ion-icon slot="end" name="person-add"></ion-icon></ion-button>
    <ion-button (click)="confirmacion()" color="danger" expand="full">{{ 'PAGES.Info-Alumno.BTN_ELIMINAR' | translate }}<ion-icon slot="end" name="trash"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>