<ion-header>
  <ion-toolbar color="primary">
    <!-- <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png"> -->
    <br>
    <ion-title> Be Keen </ion-title>
    <ion-buttons slot="secondary">
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img class="imagenLogo" src="../../../assets/Images/logo3.png">

  <ion-item>
    <ion-label class="texto" position="stacked" style="padding-bottom: 15px;">EMAIL:</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="email" placeholder="Introduce aqui tu email"></ion-input>
  </ion-item><br>

  <ion-item>
    <ion-label class="texto" position="stacked"  style="padding-bottom: 15px;">CONTRASEÑA:</ion-label>
    <ion-input type="password" class="subtexto" clearInput [(ngModel)]="password" placeholder="Introduce aqui tu contraseña">
    </ion-input>
  </ion-item>

  <div class="crearCuenta" >
    <ion-label (click)="changeRegisterState()" *ngIf="register == false" >¿No tienes cuenta? Pulsa aqui para crear una.</ion-label>
  </div>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <div *ngIf="register == false">
      <ion-button expand="full"  (click)="onLogin()">Entrar</ion-button>
      <!-- <ion-button expand="full" (click)="changeRegisterState()">No tengo usuario</ion-button> -->
    </div>
  
    <div *ngIf= "register == true">

      <ion-button expand="full"  (click)="onRegister()">Registrar usuario</ion-button>
      <ion-button expand="full"  (click)="changeRegisterState()">Ya tengo una cuenta</ion-button>
    </div>
  </ion-toolbar>
</ion-footer>