<ion-header>
  <ion-toolbar color="primary">
    <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png">
    <br>
    <ion-title> BeKeen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px; text-decoration: underline;">{{ 'PAGES.Valoraciones.TITULO' | translate }}</p>
  </div>

  <ion-card *ngFor="let item of valoraciones" >

    <ion-card-header>
      <ion-card-title>{{nombreEmpresa}} - {{item.Valoracion}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{item.Comentario}}
    </ion-card-content>

  </ion-card>

</ion-content>