<ion-header>
  <ion-toolbar color="primary">
    <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png">
    <br>
    <ion-title> BeKeen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="volver()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px;text-decoration: underline;">{{ 'PAGES.Add-Empresa.TITULO' | translate }}</p>
  </div>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Empresa.NOMBRE' | translate }}</ion-label>
    <ion-input class="subtexto"[(ngModel)]="nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Empresa.LOCALIDAD' | translate }}</ion-label>
    <ion-input class="subtexto" [(ngModel)]="localidad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Add-Empresa.EMAIL' | translate }}</ion-label>
    <ion-input class="subtexto" [(ngModel)]="contacto"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">NIF</ion-label>
    <ion-input class="subtexto" [(ngModel)]="nif"></ion-input>
  </ion-item>

</ion-content>

<ion-footer style="margin-top: 10px;" no-border>
  <ion-toolbar>
    <ion-button expand="block" (click)="insertarEmpresa()">{{ 'PAGES.Add-Empresa.BTN_ADD' | translate }}<ion-icon slot="end" name="business"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>