<ion-header>
  <ion-toolbar color="primary">
    <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png">
    <br>
    <ion-title> BeKeen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button (click)="goBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of empresas">

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px; text-decoration: underline;">{{ 'PAGES.Info-Empresa.TITULO' | translate }}</p>
  </div>

  <ion-row style="height: 95px;">
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ 'PAGES.Info-Empresa.NOMBRE' | translate }}</ion-card-subtitle>
          <ion-card-title>{{item.Nombre}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  
    <ion-col size="6">
  
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>{{ 'PAGES.Info-Empresa.LOCALIDAD' | translate }}</ion-card-subtitle>
          <ion-card-title>{{item.Localidad}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'PAGES.Info-Empresa.EMAIL' | translate }}</ion-card-subtitle>
      <ion-card-title>{{item.Contacto}}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'PAGES.Info-Empresa.VALORACION' | translate }}</ion-card-subtitle>
      <ion-card-title *ngIf = "item.Valoracion == 0">{{ 'PAGES.Info-Empresa.SIN_VALORAR' | translate }}</ion-card-title>
      <!-- Valoracion 1 | 1 estrella --> 
      <ion-card-title *ngIf = "item.Valoracion >= 1 && item.Valoracion <= 1.25">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 1.25 a 1.75 | 1.5 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 1.25 && item.Valoracion <= 1.75">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 2 | 2 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 1.75 && item.Valoracion <= 2.25">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 2.25 a 2.75 | 2.5 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 2.25 && item.Valoracion <= 2.75">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 3 | 3 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 2.75 && item.Valoracion <= 3.25">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 3.25 a 3.75 | 3.5 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 3.25 && item.Valoracion <= 3.75">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 4 | 4 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 3.75 && item.Valoracion <= 4.25">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 4.25 a 4.75 | 4.5 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 4.25 && item.Valoracion <= 4.75">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
      <!-- Valoracion 5 | 5 estrellas -->
      <ion-card-title *ngIf = "item.Valoracion > 4.75 && item.Valoracion <= 5">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        - {{item.Valoracion}}
      </ion-card-title>
    </ion-card-header>
<!--<ion-button expand="full" routerLink="/ver-valoraciones/{{item.key}}">VER VALORACIONES</ion-button>-->
    <ion-button expand="full" (click)="verValoraciones(item.key)">{{ 'PAGES.Info-Empresa.BTN_VALORACIONES' | translate }}</ion-button>
  </ion-card>

    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>{{ 'PAGES.Info-Empresa.AÑADIR_VAL_TXT' | translate }}</ion-card-subtitle>
      <ion-item>
        <ion-label>{{ 'PAGES.Info-Empresa.ELEGIR_VAL' | translate }}</ion-label>
        <ion-select [(ngModel)]="rating">
          <ion-select-option value="1">1☆</ion-select-option>
          <ion-select-option value="2">2☆</ion-select-option>
          <ion-select-option value="3">3☆</ion-select-option>
          <ion-select-option value="4">4☆</ion-select-option>
          <ion-select-option value="5">5☆</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-textarea [(ngModel)]="comentario" placeholder="{{ 'PAGES.Info-Empresa.COMENTARIO' | translate }}"></ion-textarea>
    </ion-card-header>
    <ion-button expand="full" (click)="addValoracion()">{{ 'PAGES.Info-Empresa.BTN_ADD_VAL' | translate }}</ion-button>
  </ion-card>

</ion-content>

<ion-footer class="texto">
  <ion-toolbar>
    
    <ion-row>
      <ion-col size="12" style="padding-top: 0px; padding-bottom: 0px;">
        <ion-button expand="full" (click)="alumnosAsignados()">{{ 'PAGES.Info-Empresa.BTN_ALUMNOS' | translate }}<ion-icon slot="end" name="people"></ion-icon></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6" style="padding-top: 0px; padding-bottom: 0px;">
        <ion-button expand="full" (click)="editarEmpresa()">{{ 'PAGES.Info-Empresa.BTN_EDITAR' | translate }}<ion-icon slot="end" name="business"></ion-icon></ion-button>
      </ion-col>
    
      <ion-col size="6" style="padding-top: 0px; padding-bottom: 0px;">
        <ion-button expand="full" (click)="confirmacion()" color="danger">{{ 'PAGES.Info-Empresa.ELIMINAR' | translate }}<ion-icon slot="end" name="trash"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
    
  </ion-toolbar>
</ion-footer>