<ion-header>
  <ion-toolbar color="primary">
    <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png">
    <br>
    <ion-title> BeKeen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/info-alumno/{{key}}">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px; text-decoration: underline;">{{ 'PAGES.Edit-Alumno.TITULO' | translate }}</p>
  </div>

  <ion-item>
    <ion-label class="texto" position="stacked">Dni:</ion-label>
    <ion-input class="subtexto" readonly={{true}} clearInput [(ngModel)]="item.Dni"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Edit-Alumno.NOMBRE' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="item.Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Edit-Alumno.APELLIDOS' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="item.Apellidos"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Edit-Alumno.EMAIL' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="item.Email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Edit-Alumno.LOCALIDAD' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="item.Localidad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Edit-Alumno.TUTOR' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="item.Tutor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">{{ 'PAGES.Edit-Alumno.CURSO' | translate }}</ion-label>
    <ion-input class="subtexto" clearInput [(ngModel)]="item.Curso"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>{{ 'PAGES.Edit-Alumno.EMPRESA' | translate }}</ion-label>
    <ion-select [(ngModel)]="item.Empresa">
      <ion-select-option value="Ninguna">{{ 'PAGES.Edit-Alumno.NINGUNA' | translate }}</ion-select-option>
      <ion-select-option *ngFor="let item2 of empresas" value="{{item2.key}}">{{item2.Nombre}}</ion-select-option>
    </ion-select>
  </ion-item>

</ion-content>

<ion-footer class="texto" style="margin-top: 10px;" no-border>
  <ion-toolbar>
    <ion-button (click)="guardarCambios()" expand="full">{{ 'PAGES.Edit-Alumno.BTN_GUARDAR' | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>