<ion-header>
  <ion-toolbar>
    <ion-title> Be Keen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button href="/home">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 18px;font-weight: bold;margin-bottom: 5px;margin-top: 12px; text-decoration: underline;">LISTADO ALUMNOS</p>
  </div>

  <ion-item>
    <ion-input clearInput placeholder="Introduce nombre alumno"></ion-input>
    <ion-icon name="search" slot="end"></ion-icon>
  </ion-item>

  <ion-list>
    <ion-item *ngFor="let item of alumnos">
      <ion-label routerLink="/info-alumno/{{item.key}}">{{item.Nombre}} {{item.Apellidos}}</ion-label >
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer style="margin-top: 10px;">
  <ion-toolbar>
    <ion-button expand="block" routerLink="/add-alumno">AÑADIR ALUMNO</ion-button>
  </ion-toolbar>
</ion-footer>