<ion-header>
  <ion-toolbar color="primary">
    <img style="width: 80px; height: 50px; float: left;" src="../../../assets/Images/logo.png">
    <br>
    <ion-title> Be Keen </ion-title>
    <ion-buttons slot="secondary">
      <ion-button routerLink="/info-empresa/{{key}}/{{bool}}">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <br>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div align="center">
    <p style="font-size: 26px;font-weight: bold;margin-bottom: 8px;margin-top: 15px;text-decoration: underline;">EDITAR EMPRESA</p>
  </div>

  <ion-item>
    <ion-label class="texto" position="stacked">Nombre</ion-label>
    <ion-input class="subtexto" [(ngModel)]="empresa.Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">Localidad</ion-label>
    <ion-input class="subtexto" [(ngModel)]="empresa.Localidad"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="texto" position="stacked">Contacto</ion-label>
    <ion-input class="subtexto" [(ngModel)]="empresa.Contacto"></ion-input>
  </ion-item>

</ion-content>

<ion-footer style="margin-top: 10px;" no-border>
  <ion-toolbar>
    <ion-button expand="full" (click)="modificarEmpresa()">ACEPTAR<ion-icon slot="end" name="business"></ion-icon></ion-button>
  </ion-toolbar>
</ion-footer>
